.home-button, .toggle-dark-mode {
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    transition: color 0.3s;
    z-index: 1000; 
}

.home-button {
    top: 20px;
    left: 20px;
}

.toggle-dark-mode {
    top: 20px;
    right: 20px;
}
.home-button, .toggle-dark-mode {
    padding: 10px;
    border-radius: 50%;
}
.home-button:hover, .toggle-dark-mode:hover {
    color: #555;
}

.dark-mode .home-button, .dark-mode .toggle-dark-mode {
    color: #fff;
}
.dark-mode .home-button:hover, .dark-mode .toggle-dark-mode:hover {
    color: #bbb;
}

/* 手机适配 */
@media (max-width: 768px) {
    .home-button, .toggle-dark-mode {
            font-size: 36px;
            top: 10px;
            padding: 12px;
    }
    .home-button {
            left: 10px;
    }
    .toggle-dark-mode {
            right: 10px;
    }
}

footer {
    color: #807b7b;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
}
footer a {
    color: #61dafb;
    text-decoration: none;
}
.footer-content {
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    color: #5e5c5c;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}
.social-icons a:hover {
    color: #61dafb;
}